*{
    box-sizing: border-box;
}

.header{
    color: white;
    background-repeat: no-repeat;
    background-position: center 20%;
    background-size: cover;
    background-image: url("https://www.golaravel.com/assets/images/header-bg.jpg");
}

.footer{
    background: #202020;
    padding: 35px 0 0 0;
}

body{
    margin: 0
}

.svg-container{
    margin: 0;
    text-align: center;
    padding: 40px 0;
}

.header h1{
    text-align: center;
    margin-top:-13px;
    font-size:30px;
    font-family: Helvetica Neue,Helvetica,Arial,Hiragino Sans GB,Hiragino Sans GB W3,WenQuanYi Micro Hei,Microsoft YaHei UI,Microsoft YaHei,sans-serif;
}

.nav{
    background: white;
    text-align: center;
}

.nav-container{
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width: 800px;
}

.nav-container .item:nth-child(3) a{
    font-weight: 900;
}

.nav .item{
    line-height: 55px;
    font: 100 14px/55px '微软雅黑'; 
}
.nav .item a{
    text-decoration: none;
    color: #505050;
}
.nav .item a:hover {
    color: #f4645f;
}

a{
    text-decoration: none;
    color: #f4645f;
}

a:hover{
    text-decoration:#f4645f;
}


.main {
    padding: 35px 0 0 0;
    background: #ebebeb;
}

.container {
    margin: 0 auto;
    max-width: 1178px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.content {
    height: inherit;
    width: 66.5%;
    padding: 0 15px;
    min-width: 300px;
}

.rightside {
    width: 33.3%;
    padding: 0 15px;
    min-width: 300px;
}

.docs-container {
    padding: 21px 30px;
    background: white;
}

.docs-container .title {
    font-size: 1.5em;
    margin-top: 0;
    margin-left: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    padding-bottom: 3px;
    margin-bottom: 1px;
}

.titleline {
    height: 1px;
    background: #ebebeb;
    margin-bottom: 21px;
}

.titleline div {
    width: 90px;
    height: 1px;
    background: red;
}

.doc-btn {
    font: lighter 14px/36px '微软雅黑';
    display: block;
    height: 36px;
    color: white;
    background: #f4645f;
    border: 1px #f4645f;
    border-radius: 2px;
    margin-top: 5px;
    text-align: center;
}

.doc-btn:hover {
    background: black;
}

.post {
    padding: 35px;
    margin-bottom: 35px;
    position: relative;
    overflow: hidden;
    background: white;
}

.post-head {
    text-align: center;
}

.post-title {
    padding-top: 3px;
    font: 400 28px/1em '微软雅黑';
    margin: 0;
}

.post-title a {
    color: black;
    line-height: 16 px;
}

.post-meta {
    color: #959595;
    font: 200 14px/24.5px "Helvetica Neue";
    margin-top: 18px;
}

.post-meta a:hover {
    text-decoration: solid;
    color: #f4645f;
}

.post-media {
    margin: 30px 0 0 0;
    background: #959595;
    width: 100%;
    padding: 0;
    line-height: 0.5em;
}

.post-sentence {
    margin: 30px 0;
    font: normal 18px/1.62em Georgia, "Xin Gothic", "Hiragino Sans GB", "Droid Sans Fallback", "Microsoft YaHei", sans-serif;
}

.link-btn {
    width: 86px;
}

.post-footer {
    margin-top: 30px;
    margin-bottom: 20px;
    height: 1px;
    background: #ebebeb;
    width: 100%;
}

.page-change{
    margin: 0 0 35px;
    text-align: center;
    display: block;
}
.cur-page{
    color: white;
    background: #f4645f;
    border: 1px #f4645f;
    line-height: 36px;
    padding: 0 14px;
    border-radius: 2px;
    display: inline-block;
}

.next-btn{
    font: lighter 14px/36px '微软雅黑';
    display: inline-block;
    height: 36px;
    color: white;
    border-radius: 2px;
    background: #f4645f;
    border: 1px #f4645f;
    margin-top: 5px;
    text-align: center;
    width: 36px;
}

.footer-container {
    margin: 0 auto;
    max-width: 1140px;
    padding: 0px 15px;
    background: #202020;
    justify-content: center;
    align-items: flex-start;
    font-size: 14px;
}

.footer-row{
    margin-right: -15px;
    margin-left: -15px;
    display: flex;
    flex-wrap: wrap;
}
.footer-item {
    min-width: 200px;
    width: 33.3%;
    background: #202020;
    padding: 0 15px;
}

.footer-content {
    padding: 0 30px;
}

.footer-title {
    color: white;
    font: 300 21px/1.1em '微软雅黑';
    margin: 0px 0 8px 0;
}

.footer-title+.titleline {
    background: #303030;
}

.copyright {
    height: 80px;
    padding: 28px 0;
    text-align: center;
    color: white;
    background: #111;
}


.news-content, frient-content {
    margin: 0;
    padding: 0;
}

.footer-news {
    margin-bottom: 14px;
    padding-bottom: 10px;
    border-bottom: 1px dashed #303030;
}

.footer-time {
    margin: 8px 0;
    color: #505050;
}

.footer-news-title {
    color: white;
    color: #959595;
}

.footer-news-title:hover {
    color: #f4645f;
}

.footer-tag {
    display: inline-block;
    border: 1px solid #505050;
    color:#505050;
    border-radius: 2px;
    height: 27px;
    width: 27px;
    text-align: center;
    line-height: 27px;
}

.footer-tag:hover {
    color: white;
    background: #f4645f;
}

.frient-content{
    display: flex;
    flex-wrap: wrap;

}

.friend-link{
    padding: 2px 7px;
    color: #959595;
    line-height: 25px;
    margin: 0 7px 7px 0;
    display: inline-block;
}

.friend-link:hover{
    color: white;
    background: #f4645f;
}